In [ ]:
# 으뜸 머신러닝 심화문제 3.2

import pandas as pd 

name = pd.Series(['A', 'B','C',
                         'D','E', 'F','G'])
horse_power = pd.Series([130,250,190,300,210,220,170])
weight = pd.Series([1.9,2.6,2.2,2.9,2.4,2.3,2.2])
efficiency = pd.Series([16.3, 10.2, 11.1, 7.1,12.1, 13.2,14.2])

df = pd.DataFrame({'name': name, 'horse power': horse_power, 'weight': weight, 'efficiency': efficiency})
df

  name  horse power  weight  efficiency
0    A          130     1.9        16.3
1    B          250     2.6        10.2
2    C          190     2.2        11.1
3    D          300     2.9         7.1
4    E          210     2.4        12.1
5    F          220     2.3        13.2
6    G          170     2.2        14.2

In [ ]:
df_2 = df.set_index(keys=['name'], inplace=False, drop=True)
print(df_2)

      horse power  weight  efficiency
name
A             130     1.9        16.3
B             250     2.6        10.2
C             190     2.2        11.1
D             300     2.9         7.1
E             210     2.4        12.1
F             220     2.3        13.2
G             170     2.2        14.2

In [ ]:
df['results'] = pd.DataFrame(df['horse power']*df['efficiency'])
df_2 = df.set_index(keys=['name'], inplace=False, drop=True)
print(df_2)

print('최대값')
print(df_2['results'].idxmax())

      horse power  weight  efficiency  results
name
A             130     1.9        16.3   2119.0
B             250     2.6        10.2   2550.0
C             190     2.2        11.1   2109.0
D             300     2.9         7.1   2130.0
E             210     2.4        12.1   2541.0
F             220     2.3        13.2   2904.0
G             170     2.2        14.2   2414.0
최대값
F

In [ ]:
# 예제 문제

df=pd.read_csv('https://raw.githubusercontent.com/jennybc/gapminder/master/inst/extdata/gapminder.tsv', sep='\t')
# print(df.head())

# print(df.describe())


# 문제1. [Quiz] pop 평균보다 인구가 높은 국가의 1970년대 데이터를 필터링하고,continent, country, pop, gdpPercap 열만 출력하라.
df1=df[(df['pop']>=df['pop'].mean())&(df['year'].isin([1972,1977]))]
print(df1)

print(df1[['continent','country', 'pop', 'gdpPercap']])

             country continent  year   lifeExp        pop     gdpPercap
100       Bangladesh      Asia  1972  45.25200   70759295    630.233627
101       Bangladesh      Asia  1977  46.92300   80428306    659.877232
172           Brazil  Americas  1972  59.50400  100840058   4985.711467
173           Brazil  Americas  1977  61.48900  114313951   6660.118654
292            China      Asia  1972  63.11888  862030000    676.900092
293            China      Asia  1977  63.96736  943455000    741.237470
460            Egypt    Africa  1972  51.13700   34807417   2024.008147
461            Egypt    Africa  1977  53.31900   38783863   2785.493582
508         Ethiopia    Africa  1972  43.51500   30770372    566.243944
509         Ethiopia    Africa  1977  44.51000   34617799    556.808383
532           France    Europe  1972  72.38000   51732000  16107.191710
533           France    Europe  1977  73.83000   53165019  18292.635140
568          Germany    Europe  1972  71.00000   78717088  18016.180270
569          Germany    Europe  1977  72.50000   78160773  20512.921230
700            India      Asia  1972  50.65100  567000000    724.032527
701            India      Asia  1977  54.20800  634000000    813.337323
712        Indonesia      Asia  1972  49.20300  121282000   1111.107907
713        Indonesia      Asia  1977  52.70200  136725000   1382.702056
724             Iran      Asia  1972  55.23400   30614000   9613.818607
725             Iran      Asia  1977  57.70200   35480679  11888.595080
772            Italy    Europe  1972  72.19000   54365564  12269.273780
773            Italy    Europe  1977  73.48000   56059245  14255.984750
796            Japan      Asia  1972  73.42000  107188273  14778.786360
797            Japan      Asia  1977  75.38000  113872473  16610.377010
844      Korea, Rep.      Asia  1972  62.61200   33505000   3030.876650
845      Korea, Rep.      Asia  1977  64.76600   36436000   4657.221020
988           Mexico  Americas  1972  62.36100   55984294   6809.406690
989           Mexico  Americas  1977  65.03200   63759976   7674.929108
1049         Myanmar      Asia  1977  56.05900   31528087    371.000000
1132         Nigeria    Africa  1972  42.82100   53740085   1698.388838
1133         Nigeria    Africa  1977  44.51400   62209173   1981.951806
1168        Pakistan      Asia  1972  51.92900   69325921   1049.938981
1169        Pakistan      Asia  1977  54.04300   78152686   1175.921193
1216     Philippines      Asia  1972  58.06500   40850141   1989.374070
1217     Philippines      Asia  1977  60.06000   46850962   2373.204287
1228          Poland    Europe  1972  70.85000   33039545   8006.506993
1229          Poland    Europe  1977  70.67000   34621254   9508.141454
1420           Spain    Europe  1972  73.06000   34513161  10638.751310
1421           Spain    Europe  1977  74.39000   36439000  13236.921170
1528        Thailand      Asia  1972  60.40500   39276153   1524.358936
1529        Thailand      Asia  1977  62.49400   44148285   1961.224635
1576          Turkey    Europe  1972  57.00500   37492953   3450.696380
1577          Turkey    Europe  1977  59.50700   42404033   4269.122326
1600  United Kingdom    Europe  1972  72.01000   56079000  15895.116410
1601  United Kingdom    Europe  1977  72.76000   56179000  17428.748460
1612   United States  Americas  1972  71.34000  209896000  21806.035940
1613   United States  Americas  1977  73.38000  220239000  24072.632130
1648         Vietnam      Asia  1972  50.25400   44655014    699.501644
1649         Vietnam      Asia  1977  55.76400   50533506    713.537120
     continent         country        pop     gdpPercap
100       Asia      Bangladesh   70759295    630.233627
101       Asia      Bangladesh   80428306    659.877232
172   Americas          Brazil  100840058   4985.711467
173   Americas          Brazil  114313951   6660.118654
292       Asia           China  862030000    676.900092
293       Asia           China  943455000    741.237470
460     Africa           Egypt   34807417   2024.008147
461     Africa           Egypt   38783863   2785.493582
508     Africa        Ethiopia   30770372    566.243944
509     Africa        Ethiopia   34617799    556.808383
532     Europe          France   51732000  16107.191710
533     Europe          France   53165019  18292.635140
568     Europe         Germany   78717088  18016.180270
569     Europe         Germany   78160773  20512.921230
700       Asia           India  567000000    724.032527
701       Asia           India  634000000    813.337323
712       Asia       Indonesia  121282000   1111.107907
713       Asia       Indonesia  136725000   1382.702056
724       Asia            Iran   30614000   9613.818607
725       Asia            Iran   35480679  11888.595080
772     Europe           Italy   54365564  12269.273780
773     Europe           Italy   56059245  14255.984750
796       Asia           Japan  107188273  14778.786360
797       Asia           Japan  113872473  16610.377010
844       Asia     Korea, Rep.   33505000   3030.876650
845       Asia     Korea, Rep.   36436000   4657.221020
988   Americas          Mexico   55984294   6809.406690
989   Americas          Mexico   63759976   7674.929108
1049      Asia         Myanmar   31528087    371.000000
1132    Africa         Nigeria   53740085   1698.388838
1133    Africa         Nigeria   62209173   1981.951806
1168      Asia        Pakistan   69325921   1049.938981
1169      Asia        Pakistan   78152686   1175.921193
1216      Asia     Philippines   40850141   1989.374070
1217      Asia     Philippines   46850962   2373.204287
1228    Europe          Poland   33039545   8006.506993
1229    Europe          Poland   34621254   9508.141454
1420    Europe           Spain   34513161  10638.751310
1421    Europe           Spain   36439000  13236.921170
1528      Asia        Thailand   39276153   1524.358936
1529      Asia        Thailand   44148285   1961.224635
1576    Europe          Turkey   37492953   3450.696380
1577    Europe          Turkey   42404033   4269.122326
1600    Europe  United Kingdom   56079000  15895.116410
1601    Europe  United Kingdom   56179000  17428.748460
1612  Americas   United States  209896000  21806.035940
1613  Americas   United States  220239000  24072.632130
1648      Asia         Vietnam   44655014    699.501644
1649      Asia         Vietnam   50533506    713.537120